Package: ${deb_package_name}
Version: ${deb_version}
Architecture: amd64
Maintainer: Rosanne DiMesio <dimesio@earthlink.net>, Marcus Meissner <meissner@suse.com>
Installed-Size: 17450
Pre-Depends: dpkg (>= 1.14.12ubuntu3)
Depends: debconf (>= 0.5) | debconf-2.0, libc6 (>= 2.17) ,libc6:i386 (>= 2.17)
Section: otherosfs
Priority: optional
Multi-Arch: foreign
Description: WINE Is Not An Emulator - runs MS Windows programs
 Wine is a program which allows running Microsoft Windows programs
 (including DOS, Windows 3.x and Win32 executables) on Unix. It
 consists of a program loader which loads and executes a Microsoft
 Windows binary, and a library (called Winelib) that implements Windows
 API calls using their Unix or X11 equivalents.  The library may also
 be used for porting Win32 code into native Unix executables.
Original-Maintainer: WineHQ Builds <webmaster@fds-team.de>
